.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #EDC7B7;
}

h1 {
  margin: 30px;
  font-family: 'Sacramento', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #AC3B61;
}

p {
  font-size: 2rem;
  color:#AC3B61 ;
  font-family: 'Playfair Display', serif;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Playfair Display', serif;

}

@media (max-width: 990px){
  #title{
    text-align: center;
  }
.container{
 font-size:2rem;
 text-align: center;
}
h1{
font-size:4rem;  
}

}
